<nav id='stickyNav' class="navbar navbar-default" role='navigation'>
    <div class="container">
        <div class="navbar-header">
            <button type = "button" class = "navbar-toggle collapsed" 
                    data-toggle = "collapse" data-target = "#navbar">
                    <span class = "sr-only">Toggle navigation</span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
            </button>
            <a class='navbar-brand' href='search'>Wordly</a>
        </div>
        <div class='navbar-collapse collapse' id='navbar'>
            <ul class="nav navbar-nav">
                <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                    <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
                </li>
            </ul>
        </div>
        <button ng-show="!user" ui-sref="home" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <a ng-click="logout()">Logout</a>
        </div>
    </div>
</nav>