#home {
	margin-top: 40px;
	text-align: center;
	.text {
		font-family: 'Josefin Slab', serif;
	  	color: darken($chill-ass-pink, 10%);
	  	font-weight: 400;
	  	font-size: 6vw;
	}
	div {
		background: darken($background-teal, 20%);
	}
}

