#searchbar {
	margin-top: 10%;
}

#searchContainer {
	max-width: 80%;
	margin: 0 auto;
	div {
		text-align: justify;
	}

	div:after {
		content: "";
		display: inline-block;
		width: 100%;
	}
	p {
		font-size: 3.8vw;
		font-family: 'Josefin Slab', serif;
		color: $cream;
		font-weight: 600;
	}

	#inputBar {
		margin: 0 auto 2%;
		display: block;
		padding: 1% .5%;
		text-align: center;
		font-family: 'Josefin Slab', serif;
		font-size: 3vw;
	}
	#searchButton {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		font-size: 2vw;
		margin: 1% 1%;
		padding: 1.5vw;
	}
};
