#stickyNav {
  opacity: .95;
  display: block;
  background: $chill-ass-pink;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 14px -3px black;

  font-family: 'Josefin Slab', serif;

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  a {
    color: black;
    font-size: 2.4vw;
    font-weight: 500;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#00b3b3, 10%);
    }
    &:hover {
      background: none;
      color: #00b3b3;
    }
    &:focus {
      background: none;
    }
  }

  .welcome {
    font-weight: 100;
    float: right;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #00b3b3;
      cursor: pointer;
      font-weight: 400;
    }
  }

}
