<div class='row'>
	<div class='xs-col-10 col-xs-offset-1 text-center' id='searchbar'>
		<div id='searchContainer'>
			<p>Search Merriam Webster</p>
			<form>
				<input id='inputBar' type='text' ng-model='searchInput' ></input>
				<button type='button' class='btn btn-default search-btn' ng-click='searchDict(searchInput)'>Search Dictionary</button>
				<button type='button' class='btn btn-default search-btn' ng-click='searchThesaurus(searchInput)'>Search Thesauraus</button>
			</form>
		</div>
	</div>
</div>