#searchResults {
	margin: 2% auto;
	#searchText{
		background: darken($background-teal, 15%);
		border-color: white;
		max-width: 70%;
		p {
			font-size: 2vw;
			font-family: 'Open Sans', sans-serif;
			color: $cream;
			font-weight: 100;
		}
		h1 {
			font-size: 3vw;
			font-family: 'Open Sans', sans-serif;
			font-weight: 200;
		}
		#searchedWord {
			color: $chill-ass-pink;
		}
	}
};